<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webuyforyou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.webuyforyou.BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Birthday" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.webuyforyou.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webuyforyou.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webuyforyou.activity.Preference"
            android:label="@string/title_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.BirthdayDetailsActivity"
            android:label="@string/title_details"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.BirthdayActivity"
            android:label="@string/title_birthdays"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.WebViewActivity"
            android:label="@string/title_about"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.FavoritesActivity"
            android:label="@string/title_favorites"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.ImportBirthdayActivity"
            android:label="@string/title_import_birthday"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.FriendPickerSampleActivity"
            android:label="@string/title_import_birthday"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.activity.PickFriendsActivity"
            android:label="Friends"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.webuyforyou.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.webuyforyou.linkedin.LinkedInListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.webuyforyou.linkedin.LinkedInOAuthActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.webuyforyou.alarm.AlarmService" >
        </service>
    </application>

</manifest>